--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.115.4
google-generativeai==0.8.6
gradio==5.4.0
huggingface_hub==0.15.1
numpy==1.26.4
pillow==10.1.0
python-dotenv==1.0.1
requests==2.32.3
torch==2.5.1
torchvision==0.20.1
pytorch-lightning==2.4.0
uvicorn==0.32.0
