<!DOCTYPE html>
<html>
<head>
    <title>Crop Disease Detection</title>
</head>
<body style="text-align:center; font-family:Arial;">

    <h1>🌿 Crop Disease Detection</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br><br>
        <button type="submit">Predict</button>
    </form>

    {% if error %}
        <h2 style="color:red;">Error: {{ error }}</h2>
    {% elif prediction %}
        <h2>Prediction: {{ prediction }}</h2>
       {% elif prediction %}
<h2>Prediction: {{ prediction }}</h2>

<div style="white-space: pre-wrap; text-align:left; display:inline-block;">
    <strong>Status:</strong><br>
    {{ treatment }}
</div>
{% endif %}
    {% endif %}

</body>
</html>